*{
padding: 0;
margin: 0;
}
body{
	position: relative;
}
.latarbelakang{
	background: url('/assets/img/bg-landing.jpg');
	background-repeat: no-repeat;
 	background-position: center;
}
.navbar-brand{
	font-size: 24pt;
	color: white;
}
.kanan{
	margin-left: 60%;
}
.kanan a{
	color: white;
}

#merk:hover{
	color:white;
}

#section1{
 	margin-top: 4%;
	font-size: 26pt;

}
#section1 p{	
	width: 40%;
	margin-left: 10%;
	margin-top: 1%;
	color:white;
	/* font-family:typenya kalo nggak bisa diganti dibelakangnya ditamahin !important; */
}
#section1 .get-started{
	margin-top: 8%;
	margin-left: 24%;
	padding-bottom: 6%;
}

#section2 {
	padding-top: 5%;
	margin-left: 2%;
}
#section2 p{
	width: 40%;
	margin-top: 3%;
}
#section3{
	margin-top: 3%;
	background: url('assets/img/hero-bg.jpg');
	background-repeat: no-repeat;
 	background-position: center;
	padding-bottom: 5%;
}
#section3 h3{
	margin-bottom: 5%;
	background: rgba(255, 255, 255, 0.2) !important;
}
#section3 h1{
	padding-top: 8%;
	padding-bottom: 1%;

}
.container{
	width: 92% !important;
	margin-right: 3%;
}
.container figure{
	width: 75%;
	
}
#section3 figcaption img{
		width: 30px;
		padding: 2px;
}
#section4{
	margin-top: 2%;
	background: #f7f7f7;
	padding-bottom: 3%;
}
#section4 h1{
	padding-bottom: 5%;
	background: white;
	width: 105%;
	margin-left: -2% !important;
}
/* #section4 .tubuh{
	background: #d9d9d9;
} */
#section4 .tubuh {
 padding-top: 2%;
 width: 60%;
 margin-left: 20%;
}
#section4 .form-row .tulisan img{
	float: left;
	width: 30px;
	height: 30px;
}
.tulisan p{
	margin-left: 50px;
}
#section4 .form-row .tulisan {
	margin-left: 5% !important;
}
#section4 button{
	margin-top: 3% !important;
	margin-left: 65%;
	width: 22%;
}
footer{
	margin-top: 0%;
	background: #343b41;
	width: 100%;
	padding: 2%;
	color:white;
}


